<app-card>
  <p><strong>Reading List</strong></p>
  <div id="reading-list" class="accordion">
    <ng-container *ngFor="let readingInYear of readings | keyvalue: keyDescOrder">
      <div class="accordion-item">
        <h2 id="reading-header-{{readingInYear.key}}" class="accordion-header">
          <button class="accordion-button collapsed"
                  type="button"
                  data-mdb-toggle="collapse"
                  [attr.data-mdb-target]="'#reading-list-'+readingInYear.key"
                  aria-expanded="false"
                  [attr.aria-controls]="'reading-list-'+readingInYear.key">
            {{readingInYear.key}}
          </button>
        </h2>
        <div id="reading-list-{{readingInYear.key}}"
             class="accordion-collapse collapse"
             [attr.aria-labelledby]="'reading-header-'+readingInYear.key"
             data-mdb-parent="#reading-list">
          <div class="accordion-body">
            <ul class="list-group list-group-flush">
              <li *ngFor="let reading of readingInYear.value" class="list-group-item">
                <span class="badge rounded-pill bg-primary mr-3" *ngIf="reading.current">
                  Currently Reading
                </span>
                <a href="{{reading.url}}">{{reading.title}}</a> by {{reading.author}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</app-card>
