<div class="card">
  <div class="card-body">
    <p>Why hello there! Welcome to my site where I mess around with client code and demonstrate
      my lack of web development skills.</p>
    <p>I am currently funemployed, but will be joining Google shortly. Prior to that, I was an
      engineer at Workday for nearly 6 years. My experience ranges from working on backend for frontends to
      authentication/security to chatbots.</p>
    <p>Outside of work, my interests vary greatly. Pre-pandemic, I was training and competing
      in badminton at <a href="https://www.synergybadminton.com/">Synergy Badminton Academy</a>. I am now preparing
      for both the <a href="https://www.thesfmarathon.com/">SF Marathon</a> and the
      <a href="https://www.nyrr.org/tcsnycmarathon">NYC Marathon</a> in 2022/2023 with the ultimate dream of completing
      the <a href="https://www.worldmarathonmajors.com/">Six Star Journey</a>. I am also interested in finances and
      investments. I day traded at one point (with no losses), but now look towards long-term investing and portfolio
      management. When I don't feel like being productive, I tend to play video games or watch k-dramas.</p>

    <div class="row">
      <div class="col-md-6">
        <span>Current Readings:</span>
        <ul>
          <li><a href="https://www.google.com/books/edition/_/GwQotAEACAAJ?hl=en">The Infinite Game</a> by Simon Sinek</li>
          <li><a href="https://www.google.com/books/edition/The_Reason_for_God/-eUbFMEY49QC?hl=en&gbpv=0">The Reason for God</a> by Timothy Keller</li>
          <li><a href="https://www.google.com/books/edition/_/_2-YDwAAQBAJ?hl=en">Irrational Exuberance</a> by Robert Shiller</li>
        </ul>
      </div>
      <div class="col-md-6">
        <span>Current K-Dramas:</span>
        <ul>
          <li><a href="https://asianwiki.com/Sisyphus:_The_Myth">Sisyphus: The Myth</a></li>
          <li><a href="https://asianwiki.com/Vincenzo_(Korean_Drama)">Vincenzo</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
