<div class="mb-5">
  <h3 class="h3">Work Experience</h3>
  <ul class="timeline">
    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
      <div class="timeline-arrow"></div>
      <span class="h4">Google</span><br />
      <span class="small text-muted">May 2021 &mdash; Present</span>
    </li>
    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
      <div class="timeline-arrow"></div>
      <p>
        <span class="h4">Workday</span><br />
        <span class="small text-muted">Aug. 2015 &mdash; Apr. 2021</span>
      </p>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div><strong>Senior Software Development Engineer</strong></div>
          </div>
          <span class="badge bg-light text-muted rounded-pill">May 2019 &mdash; Apr. 2021</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div><strong>Software Development Engineer III</strong></div>
          </div>
          <span class="badge bg-light rounded-pill text-muted">May 2018 &mdash; Apr. 2019</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div><strong>Software Development Engineer II</strong></div>
          </div>
          <span class="badge bg-light rounded-pill text-muted">May 2017 &mdash; Apr. 2018</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div><strong>Software Development Engineer I</strong></div>
          </div>
          <span class="badge bg-light rounded-pill text-muted">Aug. 2015 &mdash; Apr. 2017</span>
        </li>
      </ul>
    </li>
    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
      <div class="timeline-arrow"></div>
      <p>
        <span class="h4">Workday</span><br />
        <span class="small text-muted">Jun. 2014 &mdash; Sept. 2014</span>
      </p>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div><strong>Software Development Engineering Intern</strong></div>
            <ul>
              <li>Interned on UI-Server; a backend for frontend service that processes majority of user interaction requests.</li>
              <li>Implemented "tiny URL" for large passthrough metadata reducing size of responses received by the client.</li>
            </ul>
          </div>
          <span class="badge bg-light text-muted rounded-pill">Jun. 2014 &mdash; Sept. 2014</span>
        </li>
      </ul>
    </li>
    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
      <div class="timeline-arrow"></div>
      <p>
        <span class="h4">University of California, Davis</span><br />
        <span class="small text-muted">Nov. 2013 &mdash; Apr. 2014</span>
      </p>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div><strong>Student Assistant IV</strong></div>
          </div>
          <span class="badge bg-light text-muted rounded-pill">Nov. 2013 &mdash; Apr. 2014</span>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="mb-5">
  <h3 class="h3">Other Experience</h3>
  <ul class="timeline">
    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
      <div class="timeline-arrow"></div>
      <p>
        <span class="h4">Davis Computer Science Club</span><br />
        <span class="small text-muted">Apr. 2013 &mdash; Jun. 2015</span>
      </p>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div><strong>President</strong></div>
            <ul>
              <li>Headed a board of 21 officers with the club mission of cultivating professional development and
                augmenting education with practical skills while providing a fun and supportive community.</li>
              <li>During our term, notable achievements and newly introduced events include:
                <ul>
                  <li>Bit/Byte: Mentorship program providing academic support, encouragement, and career preparation</li>
                  <li>Dev Hub: Weekly series teaching students how to start personal projects and collaborate on existing ones</li>
                  <li>Tutoring: Record number of tutors and review sessions. High tutor availability (14 hour office hours/day).</li>
                </ul>
              </li>
            </ul>
          </div>
          <span class="badge bg-light text-muted rounded-pill">Jun. 2014 &mdash; Jun. 2015</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div><strong>Computer Science Tutor</strong></div>
            <ul>
              <li>Elevated student understanding of computer science through office hours and review sessions.</li>
              <li>Personally hosted a total of 26 review sessions and wrote two study guides.</li>
              <li>Provided feedback and statistics to various professors on topics that their students were struggling in.</li>
            </ul>
          </div>
          <span class="badge bg-light text-muted rounded-pill">Apr. 2013 &mdash; Jun. 2015</span>
        </li>
      </ul>
    </li>
    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
      <div class="timeline-arrow"></div>
      <p>
        <span class="h4">Dougherty Valley High School Badminton</span><br />
        <span class="small text-muted">Sept. 2007 &mdash; Jun. 2011</span>
      </p>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div><strong>Founder &amp; Student Coach</strong></div>
            <ul>
              <li>Founded the badminton club in Fall 2007 and the team in Spring 2009.</li>
              <li>Contributed 4-5 hours per day in
                teaching others the sport and sharing my passion.</li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="mb-5">
  <h3 class="h3">Education</h3>
  <ul class="timeline">
    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
      <div class="timeline-arrow"></div>
      <span class="h4">University of California, Davis</span><br />
      <span class="small text-muted">Sept. 2011 &mdash; Jun. 2015</span>
    </li>
    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
      <div class="timeline-arrow"></div>
      <span class="h4">Dougherty Valley High School</span><br />
      <span class="small text-muted">Sept. 2007 &mdash; Jun. 2011</span>
    </li>
  </ul>
</div>
