<app-banner [buttonLinks]="bannerButtons"></app-banner>

<div class="container mb-5">
  <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" data-mdb-toggle="tab" href="#home" role="tab">
        About Me
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" data-mdb-toggle="tab" href="#work-experience-tab" role="tab">
        Experience &amp; Education
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active p-4" id="home" role="tabpanel">
      <app-landing></app-landing>
    </div>
    <div class="tab-pane fade p-4" id="work-experience-tab" role="tabpanel">
      <app-work-experience></app-work-experience>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
