<div class="jumbotron p-3 p-md-5 text-white bg-primary">
  <div class="container text-center">
    <img class="img-thumbnail rounded-circle" src="{{profilePictureUrl}}" />
    <h1 class="display-5 mt-3">{{firstName}} <strong>{{lastName}}</strong></h1>
    <div>
      <a *ngFor="let button of buttonLinks; let last = last"
         class="btn bg-white rounded-circle shadow-2-strong"
         [ngClass]="{'mr-3': !last }"
         href="{{button.url}}"
         target="_blank">
        <i class="{{button.icon}}"></i>
      </a>
    </div>
  </div>
</div>
