<ul class="timeline">
  <li *ngFor="let item of items" class="timeline-item bg-white rounded ml-3 p-4 shadow">
    <div class="timeline-arrow"></div>
    <p>
      <span class="h4">{{item.heading}}</span><br />
      <span class="small text-muted">{{item.startDate}} &mdash; {{item.endDate}}</span>
    </p>
    <ul class="list-group">
      <li *ngFor="let subItem of item.subItems" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div>
            <strong>{{subItem.heading}}</strong>
          </div>
          <ul>
            <li *ngFor="let description of subItem.descriptions">{{description}}</li>
          </ul>
        </div>
        <span class="badge bg-light text-muted rounded-pill">{{subItem.startDate}} &mdash; {{subItem.endDate}}</span>
      </li>
    </ul>
  </li>
</ul>
